<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">

<title>Sixteen Clothing - Contact Page</title>

<head th:replace="Custommers/fragments/Css :: head"></head>
</head>

<body>

	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div class="jumper">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- Header -->
	<div th:replace="Custommers/fragments/Header :: Header"></div>
	<!-- Page Content -->
	<div class="page-heading contact-heading header-text">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-content">
						<h4>contact us</h4>
						<h2>let’s get in touch</h2>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="find-us">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<h2>Our Location on Maps</h2>
					</div>
				</div>
				<div class="col-md-8">
					>
					<th:block th:each="cart : ${carts}">
						<tr >
							<div class="row main align-items-center" th:id="${cart.productId}">
								<div class="col-2">
									<img class="img-fluid" src="">
								</div>
								<div class="col">
									<div class="row text-muted">
										<span th:utext="${cart.nameCategory}"></span>
									</div>
									<div class="row">
										<span th:utext="${cart.ProductName}"></span>
									</div>
								</div>
								<div class="col">
									<td class="product-quantity" data-title="Số lượng">
										<div class="quantity">
											<input type="number" th:id="'quality'+${cart.productId}"
												class="input-text qty text" step="1" min="0" max=""
												th:value="${cart.quanlity}" title="SL" size="4"
												placeholder="" inputmode="numeric" autocomplete="off"
												th:attr="onchange=|toltal('${cart.productId}')|">
										</div>
									</td>
								</div>
								<div class="col">
									<span th:utext="${cart.priceUnit}"></span> <button class="close" type="button"
										th:attr="onclick=|deleteItemCart('${cart.productId}')|">&#10005;</button>
								</div>
							</div>
						</tr>
					</th:block>
					<div>
						<span>Tong tien : <span th:utext="${TotalPrice}"
							id="TotalPrice"></span>
						</span>
					</div>
				</div>
			</div>


			<div class="send-message">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-heading">
								<h2>Send us a Message</h2>
							</div>
						</div>

						<div class="col-md-8">
							<div class="contact-form">
								<form id="contact" th:action="@{/home/shopcart}" method="POST">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<fieldset>
												<input name="customerFullName" type="text"
													class="form-control" id="name" placeholder="Full Name"
													required="">
											</fieldset>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<fieldset>
												<input name="customerEmail" type="text" class="form-control"
													id="email" placeholder="E-Mail Address" required="">
											</fieldset>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<fieldset>
												<input name="customerPhone" type="text" class="form-control"
													id="subject" placeholder="customerPhone" required="">
											</fieldset>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<fieldset>
												<input name="customerAddress" type="text"
													class="form-control" id="subject" placeholder="customerAddress"
													required="">
											</fieldset>
										</div>
										<div class="col-lg-12">
											<fieldset>
												<textarea name="customerNote" rows="6" class="form-control"
													id="message" placeholder="Your Message" required=""></textarea>
											</fieldset>
										</div>
										<div class="col-lg-12">
											<fieldset>
												<button type="submit" id="form-submit" class="filled-button">Send
													Message</button>
											</fieldset>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-4">
							<ul class="accordion">
								<li><a>Accordion Title One</a>
									<div class="content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed
											voluptate nihil eumester consectetur similiqu consectetur.<br>
											<br>Lorem ipsum dolor sit amet, consectetur adipisic
											elit. Et, consequuntur, modi mollitia corporis ipsa voluptate
											corrupti elite.
										</p>
									</div></li>
								<li><a>Second Title Here</a>
									<div class="content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed
											voluptate nihil eumester consectetur similiqu consectetur.<br>
											<br>Lorem ipsum dolor sit amet, consectetur adipisic
											elit. Et, consequuntur, modi mollitia corporis ipsa voluptate
											corrupti elite.
										</p>
									</div></li>
								<li><a>Accordion Title Three</a>
									<div class="content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed
											voluptate nihil eumester consectetur similiqu consectetur.<br>
											<br>Lorem ipsum dolor sit amet, consectetur adipisic
											elit. Et, consequuntur, modi mollitia corporis ipsa voluptate
											corrupti elite.
										</p>
									</div></li>
								<li><a>Fourth Accordion Title</a>
									<div class="content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed
											voluptate nihil eumester consectetur similiqu consectetur.<br>
											<br>Lorem ipsum dolor sit amet, consectetur adipisic
											elit. Et, consequuntur, modi mollitia corporis ipsa voluptate
											corrupti elite.
										</p>
									</div></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="happy-clients">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-heading">
								<h2>Our Happy Customers</h2>
							</div>
						</div>
						<div class="col-md-12">
							<div class="owl-clients owl-carousel">
								<div class="client-item">
									<img src="assets/images/client-01.png" alt="1">
								</div>

								<div class="client-item">
									<img src="assets/images/client-01.png" alt="2">
								</div>

								<div class="client-item">
									<img src="assets/images/client-01.png" alt="3">
								</div>

								<div class="client-item">
									<img src="assets/images/client-01.png" alt="4">
								</div>

								<div class="client-item">
									<img src="assets/images/client-01.png" alt="5">
								</div>

								<div class="client-item">
									<img src="assets/images/client-01.png" alt="6">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<footer>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="inner-content">
								<p>
									Copyright &copy; 2020 Sixteen Clothing Co., Ltd. - Design: <a
										rel="nofollow noopener" href="https://templatemo.com"
										target="_blank">TemplateMo</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</footer>


			<!-- Bootstrap core JavaScript -->
			<script th:src="@{/Custommer/Home/vendor/jquery/jquery.min.js}"></script>
			<script
				th:src="@{/Custommer/Home/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>


			<!-- Additional Scripts -->
			<script th:src="@{/Custommer/Home/assets/js/custom.js}"></script>
			<script th:src="@{/Custommer/Home/assets/js/owl.js}"></script>
			<script th:src="@{/Custommer/Home/assets/js/slick.js}"></script>
			<script th:src="@{/Custommer/Home/assets/js/isotope.js}"></script>
			<script th:src="@{/Custommer/Home/assets/js/accordions.js}"></script>


			<script language="text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
</body>

</html>
