<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout ">

<head th:replace="Custommers/fragments/Css :: head">
<link rel="canonical" href="https://petviet.vn/cart">


<!-- Header -->
<div th:replace="Custommers/fragments/Header :: Header"></div>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner header-text">
	<div class="owl-banner owl-carousel">
		<div class="banner-item-01">
			<div class="text-content">
				<h4>Best Offer</h4>
				<h2>New Arrivals On Sale</h2>
			</div>
		</div>
		<div class="banner-item-02">
			<div class="text-content">
				<h4>Flash Deals</h4>
				<h2>Get your best products</h2>
			</div>
		</div>
		<div class="banner-item-03">
			<div class="text-content">
				<h4>Last Minute</h4>
				<h2>Grab last minute deals</h2>
			</div>
		</div>
	</div>
</div>
<!-- Banner Ends Here -->

<div class="latest-products">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h2>Best Of Rating</h2>
					<a th:href="@{/Home/Products}">view all products <i
						class="fa fa-angle-right"></i></a>
				</div>
			</div>
			<th:block th:each="product : ${products}">
				<div class="col-md-4">
					<div class="product-item">
						<a href="#"><img
							th:src="@{'/Custommer/Home/assets/upLoadImage'+${product.avatar}}"
							alt=""></a>
						<div class="down-content">
							<a th:href="@{/Home/ProductDetail?id={id}(id=${product.id})}"><h4>
									<li th:utext="${product.name}"></li>
								</h4></a>
							<h6 th:utext="${product.price}"></h6>
							<p th:utext="${product.description}"></p>
							<th:block th:if="${product.avgRating == null}">
								<ul>Chua co danh gia
								</ul>
							</th:block>
							<th:block th:unless="${product.avgRating == null}">
								<ul class="stars">
									<th:block
										th:each="i: ${#numbers.sequence(1, product.avgRating)}">

										<li><i class="fa fa-star"></i></li>

									</th:block>


								</ul>
							</th:block>
							<span th:utext="'Review ('+${product.reviewsEnities.size()} +')'"></span>
							<br>
							<div>
								<button id="scroll" type="button" class="btn"
									th:attr="onclick=|ls('${product.id}',1)|">add to cart</button>
							</div>

						</div>
					</div>
				</div>
		</div>
		</block>
	</div>
</div>

<div class="best-features">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h2>About Sixteen Clothing</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="left-content">
					<h4>Looking for the best products?</h4>
					<p>
						<a rel="nofollow"
							href="https://templatemo.com/tm-546-sixteen-clothing"
							target="_parent">This template</a> is free to use for your
						business websites. However, you have no permission to redistribute
						the downloadable ZIP file on any template collection website. <a
							rel="nofollow" href="https://templatemo.com/contact">Contact
							us</a> for more info.
					</p>
					<ul class="featured-list">
						<li><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><a href="#">Consectetur an adipisicing elit</a></li>
						<li><a href="#">It aquecorporis nulla aspernatur</a></li>
						<li><a href="#">Corporis, omnis doloremque</a></li>
						<li><a href="#">Non cum id reprehenderit</a></li>
					</ul>
					<a href="about.html" class="filled-button">Read More</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="right-image">
					<img th:src="@{assets/images/feature-image.jpg}" alt="">
				</div>
			</div>
		</div>
	</div>
</div>


<div class="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="inner-content">
					<div class="row">
						<div class="col-md-8">
							<h4>
								Creative &amp; Unique <em>Sixteen</em> Products
							</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Itaque corporis amet elite author nulla.</p>
						</div>
						<div class="col-md-4">
							<a href="#" class="filled-button">Purchase Now</a>

						</div>
						</main>
					</div>
					<div th:replace="Custommers/fragments/Footer :: Footer"></div>
					<div th:replace="Custommers/fragments/Js :: script"></div>







					</body>
</html>
